.modal
   position: fixed
   z-index: 99
   left: 50%
   top: 0
   bottom: 0
   right: 0
   max-width: 36.14rem
   height: 36.35rem
   background-color: rgba($dark, .6)
   display: flex
   justify-content: center
   text-align: center
   &__dialog
      position: relative
      background: $dark
      padding: 2.57rem 3.5rem 1.92rem
      color: $light
   &__close
      position: absolute
      right: 0
      top: 0
      width: 28px
      height: 28px
      background: transparent url(../images/modal/close.svg) no-repeat center
      border: none
      margin: 12px
      cursor: pointer
   &__title
      font-family: 'Yeseva One', sans-serif
      text-align: center
      font-size: 1.35rem
      line-height: 1.85rem
      margin: 0 0 2.428rem 0
   &__form
      display: flex
      flex-direction: column